.btn {
  border-radius: 1.5625rem;

  &--next, &--gamble {
    margin-top: 1rem;
    border-color: #FF6633;
    background-color: #FF6633;

    &:hover {
      background-color: #C0501B;
      border-color: #C0501B;
    }
  }

  &--logout {
    margin-left: 1rem;
    margin-top: 0.3125rem;;
  }
}
